<header>
  <nav class="navbar-top">
    <div class="container">
      <a routerLink="/" class="logo">MIL:D PORTFOLIO</a>
      <i class="fa-solid fa-bars d-md-none fa-xl menu-bar" data-bs-toggle="dropdown" (click)="openDropdown()"></i>
      <div class="dropdown-mn d-md-none" *ngIf="isDropdownVisible">
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/projects">Projects</a></li>
          <li><a routerLink="/about-me">About Me</a></li>
        </ul>
      </div>
      <ul class="d-none d-md-flex">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/projects">Projects</a></li>
        <li><a routerLink="/about-me">About Me</a></li>
      </ul>
    </div>
  </nav>
</header>
