.navbar-top {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #000;
  box-shadow: 0 0 5px #000;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-bar {
  background: linear-gradient(to right, #ffffff,#0084ff, #00ff8c, #ff00ae);
  color: transparent;
  text-shadow: 0 0 2px #fff;
  align-content: flex-start;
  position: relative;
}

.dropdown-mn {
  width: 50%;
  max-width: 15rem;
  background-color: #000;
  color: #fff;
  position: absolute;
  bottom: -8rem;
  right: 10px;
  z-index: 1000;
  padding: 1rem 0;
  border-radius: .75rem;
  box-shadow: 0 0 6px #b04ad8;
}

.dropdown-mn ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.dropdown-mn li {
  margin-bottom: 1rem;
}

.dropdown-mn li:last-child {
  margin-bottom: 0;
}

.logo {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(to right, #ffffff,#0084ff, #00ff8c, #ff00ae);
  background-clip: text;
  color: transparent;
  text-shadow: 0 0 2px #fff;
  letter-spacing: 2px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin: 0 2rem;
}

li a {
  text-decoration: none;
  opacity: .8;
  color: #fff;
}

li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #b04ad8;
  transition: width .5s;
}

li a:hover {
  opacity: 1;
  text-shadow: 0 0 5px #fff;
}

li a:hover::after {
  width: 100%;
}

/* ----- tablet ----- */
@media (min-width: 768px) {
  .container {
    justify-content: start;
  }

  .logo {
    margin-right: 2rem;
    font-size: 20px;
  }
}
