<main class="main-content">
  <section>
    <div class="container">
      <app-search></app-search>
    </div>
    <div>
      <div class="row g-0">
        <div class="col-md-4 col-lg-3" *ngFor="let project of projects">
          <a routerLink="/projects/{{project.id}}" class="p-3 nav-link">
            <div class="project">
              <div class="image">
                <img src="{{project.imageUrl[0]}}" alt="project-image">
              </div>
              <div class="body">
                <h1 class="header text-fixed-1l">{{project.name}}</h1>
                <div class="tags">
                  <span *ngFor="let tag of project.tags" [ngClass]="tagClass(tag)">{{tag}}</span>
                </div>
                <p class="text-fixed-2l">{{project.desc}}</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>

