
.project {
  background-color: rgb(0, 0, 0, .5);
  padding: .75rem;
  border-radius: .75rem;
  color: #fff;
}

.image {
  border-radius: .75rem;
  overflow: hidden;
  height: 12rem;
  margin-bottom: 1rem;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tags {
  display: flex;
}

.tags span {
  padding: .10rem .5rem;
  background-color: #616161;
  border-radius: .25rem;
  margin-right: .25rem;
  margin-bottom: .25rem;
  flex-wrap: wrap;
}

/* ----- desktop ----- */
@media (min-width: 992px) {
}