<main class="main-content">
  <section class="px-3 px-md-0">
    <div class="container">
      <a routerLink="/" class="btn-back nav-link mb-3">
        <i class="fa-solid fa-arrow-left me-2"></i>
        Back
      </a>
      <div class="row">
        <div class="col-lg-5">
          <div class="hstack text-white mb-3">
            <div class="d-none d-md-flex btn-left me-2" (click)="back()">
              <i class="fa-solid fa-chevron-left fa-2xl"></i>
            </div>
            <div class="image mb-3 mb-md-0">
              <div class="btn-change-image-sm d-md-none">
                <div class="bg-circle me-3" (click)="back()">
                  <i class="fa-solid fa-arrow-left"></i>
                </div>
                <div class="bg-circle" (click)="next()">
                  <i class="fa-solid fa-arrow-right"></i>
                </div>
              </div>
              <img [src]="imageUrl" alt="project-image">
            </div>
            <div class="d-none d-md-flex btn-right ms-2" (click)="next()">
              <i class="fa-solid fa-chevron-right fa-2xl"></i>
            </div>
          </div>
          <div class="d-none d-md-flex p-3-5 mb-3">
            <div class="all-images-container">
              <div class="all-images" *ngFor="let imageUrl of project.imageUrl" (click)="smallImageClicked(imageUrl)">
                <img src="{{imageUrl}}" alt="project-image">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="text-white p-3-5">
            <h1 class="display-6">{{project.name}}</h1>
            <div class="tags mb-3">
              <span *ngFor="let tag of project.tags" [ngClass]="tagClass(tag)">{{tag}}</span>
            </div>
            <h2 class="sub-header">Description:</h2>
            <p>{{project.desc}}</p>
            <h2 class="sub-header">Detail:</h2>
            <p>{{project.detail}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>