.container {
  width: 100%;
  min-height: calc(100vh - 8rem);
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 0.75rem;
  box-shadow: 0 0 10px #b04ad8;
  padding: 1rem;
}

.btn-back {
  color: #fff;
}

.btn-back:hover {
  text-shadow: 0 0 10px #fff;
}

.btn-change-image-sm {
  position: absolute;
  display: flex;
  right: .5rem;
  bottom: .5rem;
}

.bg-circle {
  padding: .5rem .75rem;
  border-radius: 50%;
  background-color: #000;
  opacity: .5;
}

.image {
  width: 100%;
  height: 15rem;
  overflow: hidden;
  border-radius: .75rem;
  position: relative;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-left, .btn-right {
  cursor: pointer;
}

.p-3-5 {
  padding: 0 0rem;
}

.all-images-container {
  display: flex;
  white-space: nowrap;
  overflow: auto;
  padding-bottom: .25rem;
}

.all-images-container::-webkit-scrollbar {
  height: .2rem;
}

.all-images-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: .25rem;
}

.all-images-container::-webkit-scrollbar-thumb {
  background-color: #b04ad8;
  outline: none;
  border-radius: .25rem;
}

.all-images {
  min-width: 10rem;
  max-width: 10rem;
  margin-right: .25rem;
  border-radius: .25rem;
  overflow: hidden;
}

.all-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.all-images img:hover {
  cursor: pointer;
}

.tags span {
  padding: .10rem .5rem;
  background-color: #616161;
  border-radius: .25rem;
  margin-right: .25rem;
  margin-bottom: .25rem;
}

/* ----- tablet ----- */
@media (min-width: 768px) {
  .image {
    height: 20rem;
  }
  .p-3-5 {
    padding: 0 2rem;
  }
}

/* ----- desktop ----- */
@media (min-width: 992px) {
  .image {
    height: 20rem;
  }

  p {
    font-size: 20px;
    opacity: .8;
  }

  .sub-header {
    font-size: 22px;
  }
}