@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;500;700&display=swap');

:root {
  --mp-background-color: #f3f5f8;
  --mp-border-color: #e1e1e1;
  --mp-blue-color: #19a7ce;
  --mp-border-radius: 0.75rem;
  --mp-text-header: 24px;
}

body {
  font-family: 'Noto Sans Thai', sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(to right top, #110454, #1b045c, #240464, #2e036b, #370273, #2f1f86, #223298, #0044a8, #0064bc, #0080c5, #009ac7, #1fb2c6);
}

section {
  padding: 2rem 0;
}

.main-content {
  padding-top: 4rem;
}

.bg-gradient {
  background-image: linear-gradient(to left, #b88500, #b6551f, #a02734, #780142, #430244)!important;
}

.bg-gradient2 {
  background-image: linear-gradient(to right, #030074, #33004a, #300029, #220013, #000000);
}

/* Typography */
.header {
  font-size: 20px;
}

.sub-header {
  font-size: 18px;
}

.text-fixed-1l {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-fixed-2l {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-fixed-3l {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}