<div class="d-flex justify-content-center">
  <div class="search-box">
    <input type="text" placeholder="Search project" [(ngModel)]="searchTerm" (change)="search()">
    <i class="fa-solid fa-magnifying-glass fa-lg" (click)="search()"></i>
  </div>
</div>

