.search-box {
  min-width: 75%;
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 3rem;
}

.search-box input {
  width: 100%;
  border: none;
  outline: none;
  background-color: rgb(33, 33, 33);
  padding: .5rem 1rem;
  border-radius: 2rem 0 0 2rem;
  box-shadow: inset 0 0 6px rgb(0, 0, 0, 0.3);
  color: #fff;
}

.search-box i {
  padding: 1.5rem 1rem;
  background-color: #000;
  color: #fff;
  border-radius: 2rem;
  position: absolute;
  right: -15px;
  box-shadow: 3px 3px 10px #732591;
}

.search-box i:hover {
  cursor: pointer;
  background-color: #000;
}

/* ----- desktop ----- */
@media (min-width: 992px) {
  .search-box {
    min-width: 50%;
  }
}