<main class="main-content">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div>
            <h1 class="display-3">Hello! I Am<br>Natcha Sangkaew</h1>
            <div class="d-flex">
              <p class="position">Programmer & UX/UI Developer</p>
            </div>
          </div>
          <div>
            <div class="d-none d-lg-flex position-relative">
              <div class="profile-image">
                <img src="assets/images/home-images/profile-2.jpg" alt="profile-image">
              </div>
              <div class="profile-image profile-2">
                <img src="assets/images/home-images/profile-3.jpg" alt="profile-image">
              </div>
              <div class="profile-image profile-3">
                <img src="assets/images/home-images/profile-4.jpg" alt="profile-image">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="projects-container">
            <h2 class="header">MY PROJECTS</h2>
            <div class="vertical-scroll-container">
              <a routerLink="/projects/{{project.id}}" class="nav-link" *ngFor="let project of projects">
                <div class="project">
                  <div class="row g-0">
                    <div class="col-md-5">
                      <div class="image">
                        <img src="{{project.imageUrl[0]}}" alt="project-image">
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="body p-md-3">
                        <h3 class="sub-header text-fixed-2l">{{project.name}}</h3>
                        <div class="tags">
                          <span *ngFor="let tag of project.tags" [ngClass]="tagClass(tag)">{{tag}}</span>
                        </div>
                        <p class="text-fixed-3l">{{project.desc}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 
</main>
