
h1 {
  color: #fff;
}

.position {
  padding: .5rem 1rem;
  background-color: rgb(14, 1, 55);
  border-radius: var(--mp-border-radius);
  margin: 0 0 4rem 0;
  color: #fff;
  box-shadow: 5px 5px 15px #732591;
}

.projects-container {
  width: 100%;
  height: calc(100vh - 8rem);
  background-color: rgb(0, 0, 0, .5);
  border-radius: .25rem;
  padding: 1rem;
  padding-bottom: 0;
  color: #fff;
  overflow: hidden;
}

.vertical-scroll-container {
  width: 100%;
  height: calc(100% - 20px - 2rem);
  overflow-y: scroll;
}

.vertical-scroll-container::-webkit-scrollbar {
  width: .5rem;
}

.vertical-scroll-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: .25rem;
}
 
.vertical-scroll-container::-webkit-scrollbar-thumb {
  background-color: #b04ad8;
  outline: none;
  border-radius: .25rem;
}

.project .image {
  height: 12rem;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: .25rem;
}

.project .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: .5rem;
}

.tags span {
  font-size: 14px;
  padding: .10rem .5rem;
  background-color: #616161;
  border-radius: .25rem;
  margin-right: .25rem;
  margin-bottom: .25rem;
}


.profile-image {
  width: 10rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px #000;
  position: absolute;
}

.profile-2 {
  left: 10rem;
  bottom: -15rem;
  transform: scale(1.5);
  z-index: 111;
}

.profile-3 {
  right: 9rem;
  bottom: -11rem;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* ----- tablet ----- */
@media (min-width: 768px) {
  .position {
    font-size: 20px;
  }
}
