.container {
  width: 100%;
  min-height: fit-content;
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 0.75rem;
  box-shadow: 0 0 10px #b04ad8;
  padding: 1rem;
}

.skill-container {
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 3rem 0;
}

.header {
  letter-spacing: 2px;
  text-shadow: 0 0 6px #fff;
}

.image {
  width: 75%;
  max-width: 20rem;
  border-radius: .75rem;
  overflow: hidden;
  box-shadow: 0 0 10px #fff;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-gradient {
  background-image: linear-gradient(to right, #58e5ff, #21d2ff, #59b9ff, #a297ff, #dd69e2)!important;
  box-shadow: 0 0 6px #000;
}

/* ----- desktop ----- */
@media (min-width: 992px) {
  .skill-container {
    padding: 0;
    border: none;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
  }
}