<main class="main-content">
  <section class="px-3 px-md-0">
    <div class="container">
      <div class="row text-white">
        <div class="col-lg-4 pb-5 pt-4 pt-lg-0 pb-lg-0">
          <div class="h-100 hstack justify-content-center">
            <div class="image">
              <img src="assets/images/home-images/profile-5.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="skill-container px-md-3">
            <h2 class="header mb-4">SKILLS</h2>
            <div>
              <div class="d-flex flex-row" *ngFor="let skill of skills">
                <div class="me-3">
                  <div class="py-2 px-3 rounded-circle bg-gradient fw-bold text-dark">
                    {{skill.id}}
                  </div>
                </div>
                <div class="d-flex flex-column">
                  <h3 class="sub-header">{{skill.name}}</h3>
                  <p class="opacity-75">{{skill.detail}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="hstack flex-column py-5 py-lg-0">
            <h2 class="header mb-4">CONTACT</h2>
            <div class="hstack justify-content-center">
              <i class="fa-solid fa-envelope fa-xl me-2"></i>
              <p class="sub-header mb-0">mildncha@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

